.section {
        display: flex; 
        background: #171816; 
        height: 1050px; 
        justify-content: center; 
        align-items: center; 
        transform: skew(0deg, -20deg) translateY(40px); 
}